<a href="https://colab.research.google.com/github/Rama534-8/python/blob/main/codes_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num = 1234
reverse_num = 0

while num > 0:
    digit = num % 10
    reverse_num = reverse_num * 10 + digit
    num = num // 10

print(reverse_num)

4321

In [ ]:
# odd multiplier
a = int(input("Enter a number: "))

print(f"Odd numbers in {a} table up to 10:")
for i in range(1, 11):
    if i % 2 != 0:
        print(f"{a} * {i} = {a*i}")

Enter a number: 3
Odd numbers in 3 table up to 10:
3 * 1 = 3
3 * 3 = 9
3 * 5 = 15
3 * 7 = 21
3 * 9 = 27

In [ ]:
# even multiplier
a = int(input("Enter a number: "))

print(f"Even numbers in {a} table up to 10:")
for i in range(1, 11):
    if i % 2 == 0:
        print(f"{a} * {i} = {a*i}")

Enter a number: 6
Even numbers in 6 table up to 10:
6 * 2 = 12
6 * 4 = 24
6 * 6 = 36
6 * 8 = 48
6 * 10 = 60

In [ ]:
n = 5  # size of the square

for i in range(n):
    for j in range(n):
        # Print '*' for first row, last row, first column, or last column
        if i == 0 or i == n-1 or j == 0 or j == n-1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()  # move to next row

* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
a = int(input("Enter a number: "))

print(f"Prime numbers in {a} table up to 10:")
for i in range(1, 11):
    # Check if i is prime
    if i > 1:
        is_prime = True
        for j in range(2, int(i**0.5) + 1):
            if i % j == 0:
                is_prime = False
                break
        if is_prime:
            print(i, "is prime →", f"{a} * {i} = {a*i}")

Enter a number: 7
Prime numbers in 7 table up to 10:
2 is prime → 7 * 2 = 14
3 is prime → 7 * 3 = 21
5 is prime → 7 * 5 = 35
7 is prime → 7 * 7 = 49